<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
  <application>
    <receiver
      android:name=".WidgetAlarmReceiver"
      android:exported="false">
      <intent-filter>
        <action android:name="${applicationId}.WIDGET_ALARM" />
      </intent-filter>
    </receiver>
    <receiver
      android:name=".WidgetBootReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
